:root {
    --logo-accent-color: #939393;     
    --accent-color: #000000;
    --main-text-color: #8F95A5;
    --components-color: #263238;
    --nubers-color:#2A3246;
    --per-month-color: #546269;
    --backgroung-main-color:#FFFFFF;
    --backgroung-secondary-color: #F5F5F5;
    --font-family-main: Poppins, 'sans-serif';     
  }
