<header>
    <div class="container container__header">
        <nav class="container__nav">
            <a href="/" lang="en" class="logo">Brit<span class="logo_accent">lex</span></a>

            <ul class="nav-list">
                <li class="nav-list__item">
                    <a href="" class="nav-list__menu">Home</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__menu">Skills</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__menu">About Us</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__menu">Pricing</a>
                </li>
                <li class="nav-list__item">
                    <a href="" class="nav-list__menu">Contacts</a>
                </li>
            </ul>
        </nav>

        <button type="button" class="button-secondary">Let’s Talk</button>
    </div>
    
</header>