<div class="container pricing-container">
  <h2 class="pricing-title">Pricing</h2>
  <ul class="pricing-list">
    <li class="pricing-item">
      <a href="" class="pricing-card">
        <div class="pricing-image-wrapper">
          <svg class="pricing-image" width="426" height="320">
            <use href="./images/icons.svg#icon-online"></use>
          </svg>
        </div>
        <div class="pricing-description">
          <h3 class="pricing-description-title">Self-study online course</h3>
          <p class="pricing-description-text">
            Start learning English online in live classes with qualified EC teachers and students
            from all over the world.
          </p>
        </div>
      </a>
    </li>
    <li class="pricing-item">
      <a href="" class="pricing-card">
        <div class="pricing-image-wrapper">
          <svg class="pricing-image" width="426" height="320">
            <use href="./images/icons.svg#icon-lesson"></use>
          </svg>
        </div>
        <div class="pricing-description">
          <h3 class="pricing-description-title">Live online classes</h3>
          <p class="pricing-description-text">
            Interactive group classes with expert teachers. Free 7-day trial
          </p>
        </div>
      </a>
    </li>
    <li class="pricing-item">
      <a href="" class="pricing-card">
        <div class="pricing-image-wrapper">
          <svg class="pricing-image" width="426" height="320">
            <use href="./images/icons.svg#icon-webinar"></use>
          </svg>
        </div>
        <div class="pricing-description">
          <h3 class="pricing-description-title">Personal Tuition</h3>
          <p class="pricing-description-text">
            Online one-to-one English tutoring – enjoy our first session for only $1
          </p>
        </div>
      </a>
    </li>
  </ul>
</div>
