<div class="container">
  <h2 class="second__title">Skills</h2>
  <div class="skills">

    <ul class="skills__item">
        <li class="skills__list_speaking">

        <div class="skills__card_speaking">
          <svg class="skills__icon-speaking" width="390" height="390">
            <use href="./images/icons.svg#icon-Shared-goals-bro-1"></use>
          </svg>
          <h3 class="skills__title">Speaking</h3>
          <p class="skills__description_speaking">
            Improve your English skills and confidence. 
            Live classes and interactive lessons online. 
            20% extra free for a limited time only <br>

            Learn English online and improve your 
            skills through our high-quality courses
            and resources – all designed for adult language learners.
          </p>
          <button class="skills__btn" type="button">Learn more</button>
        </div>
      </li>

      <li class="skills__list_writing">
        <div class="skills__card_writing">
            <svg class="skills__icon_writing" width="390" height="264">
                <use href="./images/icons.svg#icon-Typewriter-bro-1"></use>
            </svg>
          <h3 class="skills__title">Writing</h3>
          <p class="skills__description">
            One of the most important and extensive 
            areas of natural science, the science that 
            studies substances, also their composition 
          </p>
          <button class="skills__btn" type="button">Learn more</button>
        </div>
      </li>

      <li class="skills__list_reading">
        <div class="skills__card_reading">
            <svg class="skills__icon_reading" width="390" height="264">
                <use href="./images/icons.svg#icon-House-bookshelves-bro-1"></use>
            </svg>
          <h3 class="skills__title">Reading</h3>
          <p class="skills__description">
            Perception and response actions of the user resulting from the use and/or upcoming use
            of the product, system or service
          </p>
          <button class="skills__btn" type="button">Learn more</button>
        </div>
      </li>

      <li class="skills__list_listening">
        <div class="skills__card_listening">
            <div class="skills__card_block">
          <h3 class="skills__title">Listening</h3>
          <p class="skills__description">
            Here you can find activities to practise your listening skills. Listening will help you
            to improve your understanding
          </p>
          <button class="skills__btn" type="button">Learn more</button>
            </div>
          <svg class="skills__icon_listening" width="408" height="274">
            <use href="./images/icons.svg#icon-Podcast-audience-bro-1"></use>
        </svg>
        </div>
      </li>

    </ul>
  </div>
</div>
